* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.p-slogan {
    font-size: 14px;
}

.h2-title {
    font-size: 40px;
    font-weight: 400;
    margin: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: 5px 0 10px #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.nav .nav-logo {
    margin-right: 100px;
}

.nav .nav-logo img {
    width: 150px;
    height: auto;
}

.nav .nav-bar .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-bar .nav-list .nav-item {
    margin: 0 20px;
    font-size: 16px;
}

.nav .nav-bar .nav-list .nav-item a {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 0;
    transition: all 0.1s;
}

.nav .nav-bar .nav-list .nav-item a:hover {
    color: #07AAA5;
}

.nav .nav-bar .nav-list .nav-item a:focus {
    border-bottom: 3px solid #82b440;
    color: #07AAA5;
}

.nav .nav-bar .nav-list .nav-item .nav-social {
    display: flex;
}

.nav .nav-bar .nav-list .nav-item .nav-social .nav-social-link {
    padding: 5px;
    margin: 5px;
}

.nav .nav-bar .nav-list .nav-item .nav-social .nav-social-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
}

.nav .nav-bar .nav-list .nav-item .nav-social .nav-social-link i:hover {
    color: #fff;
    background-color: #07AAA5;
}

/* =========nav-bar ended============= */

.about-us {
    width: 100%;
    height: 600px;
    margin-top: 70px;
    background-image: url('./component/images/main-banner.jpg');
    background-size: cover;    
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us p {
    margin: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #ddd;
}

.about-us h1 {
    width: 700px;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
}

.about-us .about-us-button {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about-us .about-us-button a {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    transition: all 0.4s;
    font-weight: 500;
}

.about-us .about-us-button .about-us-more {
    background-color: #82b440;
}

.about-us .about-us-button .about-us-buy {
    background-color: #07AAA5;
}

.about-us .about-us-button a:hover {
    background-color: #fff;
    color: #000;
}

/* =============About us ended================= */

.services {
    margin: 150px 10% 100px;
    text-align: center;
}

.services h1 {
    font-size: 50px;
    font-weight: 400;
}

.services .services-offer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-top: 60px;
}

.color1 {
    color: #82B440;
}

.color2 {
    color: #07AAA5;
}

.valued-service {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.valued-service:hover .service-icon {
    transform: scale(1.2);
}

.valued-service:hover .service-name-1 {
    color: #82B440;
}

.valued-service:hover .service-name-2 {
    color: #07AAA5;
}

.service-icon {
    font-size: 50px;
    margin-bottom: 15px;
    padding: 5px;
    z-index: 0;
    transition: all 0.4s;
}

.service-name-1, .service-name-2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.4s;
}

.service-info {
    margin-bottom: 10px;
}

/* ===============Services ended============= */

.talk {
    width: 100%;
    height: 290px;
    padding-top: 100px;
    background-image: url('./component/images/paralax-index1.jpg');
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.talk p {
    padding-bottom: 30px;
    font-weight: 400;
}

.talk h2 {
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: 300;
}

.talk a {
    padding-bottom: 30px;
    color: #fff;
    padding: 10px 20px;
    background-color: #82b440;
    transition: all 0.4s;
}

.talk a:hover {
    background-color: #07AAA5;
}

/* =============Talk ended================= */

.exp {
    display: flex;
    margin: 100px 50px 50px 0;
}

.exp .exp-left {
    width: 50%;
    padding-right: 20px;
}

.exp .exp-left img {
    max-width: 100%;
}

.exp .exp-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px 40px 20px;
}

.exp .exp-right h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.exp .exp-right span {
    margin-bottom: 30px;
}

.exp .exp-right .features-label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.exp .exp-right .exp-features {
    display: grid;
    grid-template-columns: 40% 60%;
}

.exp .exp-right .exp-features .features-item {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.exp .exp-right .exp-features .features-item i {
    color: #82b440;
    padding: 5px;
}

.exp .exp-right .exp-devices {
    margin-top: 20px;
}

.exp .exp-right .exp-devices .fa-laptop {
    font-size: 50px;
    margin-right: 10px;
}

.exp .exp-right .exp-devices .fa-tablet-alt {
    font-size: 40px;
    margin-right: 10px;
}

.exp .exp-right .exp-devices .fa-mobile-alt {
    font-size: 30px;
}

/* =================Exp ended==================== */

.bg-color-1 {
    background-color: #82b440;
}

.bg-color-2 {
    background-color: #969696;
}

.bg-color-3 {
    background-color: #07AAA5;
}

.parameter-all {
    display: flex;
}

.parameter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 25%;
    height: 200px;
    padding: 30px 15px;
    cursor: pointer;
}

.parameter:hover .parameter-icon {
    transform: scale(1.2);
}

.parameter-icon {
    display: block;
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
    transition: all 0.4s;
}

.parameter-count {
    color: white;
    font-size: 2rem;
    margin: 0;
}

.parameter-item {
    color: white;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

/* =================Parameter ended=============== */

.we-do {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.we-do .we-do-work {
    display: flex;
    justify-content: center;
    margin: 20px 60px;
}

.work {
    width: 20%;
    background-color: white;
    text-align: center;
    margin: 10px;
}

.work:hover .work-top{
    background-color: #08aaa5;
}

.work:hover .work-icon-bg {
    background-color: #08aaa5;
}

.work:hover .work-icon {
    transform: scale(1.2);
}

.work-top {
    height: 72px;
    display: block;
    transition: all 0.4s;
}

.work-icon-bg {
    width: 100px;
    height: 100px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -50px;
    border-radius: 50%;
    transition: all 0.4s;
}

.work-icon {
    font-size: 40px;
    transition: all 0.4s;
}

.work-name {
    font-size: 18px;
    margin-bottom: 15px;
}

.work-info {
    font-size: 14px;
    color: #222222;
    margin: 0 15px;
}

.work-read-more {
    color: #969696;
    text-decoration: none;
    display: inline-block;
    margin: 35px 0;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.4s;
}

.work-read-more:hover {
    color: #08aaa5;
}

/* ==================What we do ended================== */

.creative-thinkers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 40px 0;
    padding-bottom: 60px;
}

.creative-thinkers .thinkers-team {
    display: flex;
    margin: 20px 100px;
}

.team-member {
    position: relative;
    width: 33%;
    text-align: center;
    margin: 0 10px;
}

.thinker {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.member-avatar {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: all 0.4s;
}

.team-member:hover .member-avatar {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    width: 100%;
    top: auto;
    opacity: 0;
    transition: all 0.4s;
    transform: scaleY(0);
}


.overlay .overlay-inner .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .overlay-inner .social li {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
}

.overlay .overlay-inner .social li:hover {
    background-color: #fff;
}

.overlay .overlay-inner .social li:hover i {
    color: #000;
}

.overlay i {
    color: #fff;
    font-size: 24px;
}

.member-image:hover .overlay {
    transform: translateY(-100%);
    opacity: 1;
}

.member-info h3 {
    margin-top: 15px;
    font-weight: 500;
}

.member-info small {
    display: block;
    color: #888;
    margin: 5px 0 15px;
}

.member-info p {
    margin: 0 5px;
}

/* =================Creative thinkers ended================ */

.latest-projects {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.latest-projects .projects-all {
    display: flex;
    width: 100%;
}

.latest-projects .projects-all .projects-left, .latest-projects .projects-all .projects-right {
    width: 50vw;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}


.latest-projects .project-first {
    grid-column: 1/3;
}

.latest-projects .project-second {
    height: 25vw;
}

.project-container {
    width: 100%;
    height: 450px;   
    position: relative; 
    overflow: hidden;
}

.project-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}

.project-container .project-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    width: auto;
    height: auto;
    background-color: #fff;
    opacity: 0;
    transition: all 0.4s;
}

.project-container .project-overlay-item {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.project-container .project-name {
    font-size: 24px;
    font-weight: 600;
    color: #82a75f;
    opacity: 0;
    transition: all 0.4s;
}

.project-container .project-line {
    height: 1px;
    background-color: #000;
    margin: 15px auto;
    transition: all 0.3s;
    width: 0%;
}

.project-container .about-project {
    opacity: 0;
    transition: all 0.4s;
}

.project-container:hover .project-item {
    transform: scale(1.1);
}

.project-container:hover .project-overlay {
    opacity: 0.8;
}

.project-container:hover .project-name, .project-container:hover .about-project {
    opacity: 1;
}

.project-container:hover .project-line {
    width: 40%;
}

/* ===============Latest projects ended================= */

.pricing {
    margin: 120px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing .pricing-tables {
    display: flex;
}

.pricing-item {
    width: 33%;
    height: 500px;
    background-color: #ddd;
    margin: 15px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}

.pricing-item .pricing-option {
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 2px solid #aaa;
}

.pricing-item .pricing-price {
    font-size: 24px;
    margin: 20px 0;
}

.pricing-item .pricing-description {
    font-weight: 600;
    color: #aaa;
    padding-bottom: 10px;
    border-bottom: 2px solid #aaa;
}

.pricing-item .pricing-advantage {
    margin-top: 20px;
}

.pricing-item .pricing-advantage li {
    display: flex;
    margin: 10px 0;
}

.pricing-item .pricing-advantage li i {
    margin-right: 10px;
    color: #82B440;
}

.pricing-item .choose-plan {
    align-self: center;
    margin-top: auto;
    text-decoration: none;
    color: #fff;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    transition: all 0.4s;
}

.pricing-first {
    border-top: 3px solid #aaa;
}

.pricing-first a {
    background-color: #aaa;
}

.pricing-second {
    border-top: 3px solid #82b440;
}

.pricing-second a {
    background-color: #82b440;
}

.pricing-item .choose-plan:hover {
    background-color: #08aaa5;
}

/* =============Pricing table ended================== */
