* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: 5px 0 10px #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.nav .nav-logo {
    margin-right: 150px;
}

.nav .nav-logo img {
    width: 150px;
    height: auto;
}

.nav .nav-bar .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-bar .nav-list .nav-item {
    margin: 0 20px;
    font-size: 16px;
}

.nav .nav-bar .nav-list .nav-item a {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 0;
    transition: all 0.1s;
}

.nav .nav-bar .nav-list .nav-item a:hover {
    color: #07AAA5;
}

.nav .nav-bar .nav-list .nav-item a:focus {
    border-bottom: 3px solid #82b440;
    color: #07AAA5;
}

.nav .nav-bar .nav-list .nav-item .nav-social {
    display: flex;
}

.nav .nav-bar .nav-list .nav-item .nav-social .nav-social-link {
    padding: 5px;
    margin: 5px;
}

.nav .nav-bar .nav-list .nav-item .nav-social .nav-social-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
}

.nav .nav-bar .nav-list .nav-item .nav-social .nav-social-link i:hover {
    color: #fff;
    background-color: #07AAA5;
}

/* =========nav-bar ended============= */

