<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="./components.css">
</head>
<body>
    <div class="valued-service">
        <i class="fas fa-cog service-icon color1"></i>
        <h4 class="service-name">Unlimited Features</h4>
        <p class="service-info">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
    </div>

    <div class="parameter">
        <i class="far fa-smile parameter-icon"></i>
        <h4 class="parameter-count">125</h4>
        <p class="parameter-item">Happy Customer</p>
    </div>
    
    <div class="work">
        <div class="work-top"></div>
        <div class="work-icon-bg">
            <i class="fas fa-cog work-icon"></i>
        </div>
        <h4 class="work-name">Hot Design</h4>
        <p class="work-info">Keep away from people who try to belittle your ambitions. Small people always do that.</p>
        <a class="work-read-more" href="#">READ MORE</a>
    </div>

</body>
</html>