* {
    font-family: Arial, Helvetica, sans-serif;
}

.color1 {
    color: #82B440;
}

.valued-service {
    display: inline-block;
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.valued-service:hover .service-icon {
    transform: scale(1.2);
}

.valued-service:hover .service-name {
    color: #82B440;
}

.service-icon {
    font-size: 50px;
    transform: scale(1);
    transition: all 0.4s;
}

.service-name {
    transition: all 0.4s;
}


