* {
    margin: 0;
    padding: 0;
}

body {
    font-family: segoe ui, sans-serif;
    background-color: #eeeeee;
}

li {
    list-style-type: none;
}

.color1 {
    color: #82B440;
}

.valued-service {
    display: inline-block;
    width: 30%;
    text-align: center;
    cursor: pointer;
    padding: 0 15px;
    margin-bottom: 30px;
}

.valued-service:hover .service-icon {
    transform: scale(1.2);
}

.valued-service:hover .service-name {
    color: #82B440;
}

.service-icon {
    font-size: 50px;
    margin-bottom: 15px;
    padding: 5px;
    transition: all 0.4s;
}

.service-name {
    margin-bottom: 15px;
    transition: all 0.4s;
}

.service-info {
    margin-bottom: 10px;
}

/* Valued end */
/* Parameter */

.parameter {
    font-weight: bold;
    width: 25%;
    text-align: center;
    background-color: #82B440;
    padding: 30px 15px;
    cursor: pointer;
}

.parameter:hover .parameter-icon {
    transform: scale(1.2);
}

.parameter-icon {
    display: block;
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
    transition: all 0.4s;
}

.parameter-count {
    color: white;
    font-size: 2rem;
    margin: 0;
}

.parameter-item {
    color: white;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

/* Parameter end */
/* Work */

.work {
    width: 20%;
    background-color: white;
    text-align: center;
}

.work:hover .work-top{
    background-color: #08aaa5;
}

.work:hover .work-icon-bg {
    background-color: #08aaa5;
}

.work:hover .work-icon {
    transform: scale(1.2);
}

.work-top {
    height: 72px;
    background-color: #969696;
    display: block;
    transition: all 0.4s;
}

.work-icon-bg {
    width: 100px;
    height: 100px;
    background-color: #969696;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -50px;
    border-radius: 50%;
    transition: all 0.4s;
}

.work-icon {
    font-size: 40px;
    transition: all 0.4s;
}

.work-name {
    font-size: 18px;
    margin-bottom: 15px;
}

.work-info {
    font-size: 14px;
    color: #222222;
    margin: 0 15px;
}

.work-read-more {
    color: #969696;
    text-decoration: none;
    display: inline-block;
    margin: 35px 0;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.4s;
}

.work-read-more:hover {
    color: #08aaa5;
}

/* Work end */
/* Team member  */

.team-member {
    width: 33%;
    text-align: center;
    padding: 0 10px;
}

.thinker {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.member-avatar {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: all 0.4s;
}

.team-member:hover .member-avatar {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    background-color: #08aaa5;
    width: 33%;
    top: auto;
    opacity: 0;
    transition: all 0.4s;
    transform: scaleY(0);
}


.overlay .overlay-inner .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .overlay-inner .social li {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
}

.overlay .overlay-inner .social li:hover {
    background-color: #063c3b;
}

.overlay i {
    color: #fff;
    font-size: 24px;
}

.member-image:hover .overlay {
    transform: translateY(-100%);
    opacity: 1;
}

.member-info h3 {
    margin-top: 15px;
    font-weight: 500;
}

.member-info small {
    display: block;
    color: #888;
    margin-bottom: 15px;
}

.member-info p {
    margin: 0 5px;
}

/* Team member end  */
/* Project item  */

.project-container {
    width: 50%;
    height: 450px;   
    position: relative; 
    overflow: hidden;
}

.project-item {
    width: 100%;
    height: 100%;
    background-image: url('./images/workimg1.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}

.project-container .project-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    width: auto;
    height: auto;
    background-color: #fff;
    opacity: 0;
    transition: all 0.4s;
}

.project-container .project-overlay-item {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.project-container .project-name {
    font-size: 24px;
    font-weight: 600;
    color: #82a75f;
    opacity: 0;
    transition: all 0.4s;
}

.project-container .project-line {
    height: 1px;
    background-color: #000;
    margin: 15px auto;
    transition: all 0.3s;
    width: 0%;
}

.project-container .about-project {
    opacity: 0;
    transition: all 0.4s;
}

.project-container:hover .project-item {
    transform: scale(1.1);
}

.project-container:hover .project-overlay {
    opacity: 0.8;
}

.project-container:hover .project-name, .project-container:hover .about-project {
    opacity: 1;
}

.project-container:hover .project-line {
    width: 40%;
}

/* Project end */
/* Pricing item  */

.pricing-item {
    width: 33%;
    height: 500px;
    background-color: #ddd;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}

.pricing-item .pricing-option {
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 2px solid #aaa;
}

.pricing-item .pricing-price {
    font-size: 24px;
    margin: 20px 0;
}

.pricing-item .pricing-description {
    font-weight: 600;
    color: #aaa;
    padding-bottom: 10px;
    border-bottom: 2px solid #aaa;
}

.pricing-item .pricing-advantage {
    margin-top: 20px;
}

.pricing-item .pricing-advantage li {
    display: flex;
    margin: 10px 0;
}

.pricing-item .pricing-advantage li i {
    margin-right: 10px;
    color: #82B440;
}

.pricing-item .choose-plan {
    align-self: center;
    margin-top: auto;
    text-decoration: none;
    background-color: #aaa;
    color: #fff;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    transition: all 0.4s;
}

.pricing-item .choose-plan:hover {
    background-color: #08aaa5;
}

/* Pricing item end  */
/* Blog item */

.blog-item {
    width: 33%;
    margin: 20px;
}

.blog-item .blog-image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.blog-item .blog-image .blog-image-bg {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    transition: all 0.4s;
}

.blog-item:hover .blog-image-bg {
    transform: scale(1.05);
}

.blog-item .blog-date {
    color: #969696;
}

.blog-item .blog-name {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}

.blog-item .blog-author {
    margin-bottom: 20px;
}

.blog-item .blog-author .blog-comments {
    text-decoration: none;
    font-weight: 600;
    color: #82B440;
}

.blog-item .blog-about {
    margin-bottom: 20px;
}

.blog-item .blog-more {
    text-decoration: none;
    font-weight: 500;
    color: #000;
    transition: all 0.4s;
}

.blog-item .blog-more:hover {
    color: #82B440;
}