<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="./components.css">
</head>
<body>
    <div class="valued-service">
        <div>
            <i class="fas fa-cog service-icon color1"></i>
        </div>
        <div>
            <h4 class="service-name">Unlimited Features</h4>
        </div>
        <div>
            <p class="service-info">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
        </div>
    </div>
</body>
</html>