<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="./components.css">
</head>
<body>
    <div class="valued-service">
        <i class="fas fa-cog service-icon color1"></i>
        <h4 class="service-name">Unlimited Features</h4>
        <p class="service-info">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
    </div>

    <div class="parameter">
        <i class="far fa-smile parameter-icon"></i>
        <h4 class="parameter-count">125</h4>
        <p class="parameter-item">Happy Customer</p>
    </div>
    
    <div class="work">
        <div class="work-top"></div>
        <div class="work-icon-bg">
            <i class="fas fa-cog work-icon"></i>
        </div>
        <h4 class="work-name">Hot Design</h4>
        <p class="work-info">Keep away from people who try to belittle your ambitions. Small people always do that.</p>
        <a class="work-read-more" href="#">READ MORE</a>
    </div>

    <div class="team-member">
        <div class="member-image">
            <div class="thinker">
                <img src="./images/thinker.jpg" alt="Richard" class="member-avatar">
            </div>
            <div class="overlay">
                <div class="overlay-inner">
                    <ul class="social">
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-instagram"></i></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="member-info">
            <h3>John Doe</h3>
            <small>Ceo</small>
            <p>Keep away from people who try to belittle your ambitions.</p>
        </div>
    </div>

    <div class="project-container">
        <div class="project-item"></div>
        <a href="#" class="project-overlay"></a>
        <div class="project-overlay-item">
            <p class="project-name">Creative Design</p>
            <div class="project-line"></div>
            <span class="about-project">Print Media</span>    
        </div>
    </div>
    
    <div class="pricing-item">
        <h4 class="pricing-option">Basic</h4>
        <p class="pricing-price"><sup>$</sup>9.90</p>
        <p class="pricing-description">Perfect for single freelancers who work by themselves</span>
        <ul class="pricing-advantage">
            <li>
                <i class="fas fa-check"></i>
                <p>Support forum</p>
            </li>
            <li>
                <i class="fas fa-check"></i>
                <p>Support forum</p>
            </li>
            <li>
                <i class="fas fa-check"></i>
                <p>Support forum</p>
            </li>
        </ul>
        <a href="#" class="choose-plan">Choose plan</a>
    </div>
</body>
</html>